$color-main:#1d4872;
// 字體
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    border: 0.2px solid rgba(255, 0, 0, 0);
    color:black;
}

/* 會員登入 購物車 按扭區塊 */
#button{
    margin: 10px auto;
    width: 100%;
    height:15px
}

#button a{
    float: right;
    color:#1d4872;
    text-decoration: none;
    /* 內距：上下 左右 */
    padding: 0px 20px;
    /* 字體粗細 0 - 900 */
    font-weight: 900;
    font-size: 0.8em;
}

#button a:hover{
    color:#1d4772b6;
    transition: 0.4s;
}
// logo
#logo{
    text-align : center;
}

#logo a img{
    width: 320px;
    margin: 10px 0;
    padding: 10px 0;
    object-fit: cover;
}
// 主要導覽列
.navbar {
    background-color:$color-main!important;
    
}

.nav-link{
    color: #fff!important;
    padding: 0 40px !important;
  }

/* 選單轉換特效 */
.nav-link:hover{
    color:#7f8d99 !important ;
    transition: 0.6s !important;
}

/* 設定輪播圖片相同高度以及不失真 */
.carousel img {
    height: 75vh;
    object-fit: cover;
  }

.title {
    color: $color-main;
    font-size: 1.5em;
    padding: 20px 0;
}

.row {
    a:hover{
    text-decoration: none;
    }

    img {
        width: 100%;
    }

    img:hover{
    opacity: 0.75;
    }

    h2 {
        font-size: 0.9em;
        padding-top: 5px;
        margin:0px;
        color:$color-main;
        text-align: center;
        letter-spacing: 5px;

    }
    h3 {
        font-size: 0.9em;
        // font-family: 'Cute Font', cursive;
        font-family: 'Josefin Sans', sans-serif;
        padding:5px 0px;
        margin:5px;
        color:#7f8d99;
        text-align: center;
        letter-spacing: 5px;
    }
    
    .buy-right {
        padding-left: 0;

        
        div {
            background-color:#7f8d99; 
            *{
                color: #fff !important;
            }
            
            text-align: center;
            padding: 75px 20px;
            height: 100%;
            
        }
        img{
            max-width: 120px;
            object-fit: cover;
            text-align: center;
        }
    }
    .buy-left {
        padding-right: 0;
    }
}

/* 標題區塊 */
.title-box {
    text-align: center;
    margin: 10px 0; 
}
.title {
    font-size:14px;
    margin: 10px 0;
    padding: 5px 0;

}

.title::before {
    content: "＼";
    padding-right: 20px;
}

.title::after {
    content: "／";
    padding-left: 20px;
}

.title-box{
    font-weight:900t;
}
.title-box h1 {
    font-size:10px;
    color:black;
}

// back-to-top區塊
#back-to-top{
    background-color: #b3bcc5;
    color: #fff;
    width:50px;
    height:50px;
    text-align: center;
    line-height:45px;
    border-radius:50%;
    box-shadow: 0 3px rgba(150, 150, 150, 0.4);
    position: fixed;
    right: 20px;
    bottom: 20px;
    // 會有點擊的效果的
    cursor: pointer;
    display: none;
}


    /* QnA */
    
    .QAtitle{
        text-align: center;
        font-size: 2em;
        font-weight: 800;
        color:$color-main;
        margin:30px 0;
    }
    .QAtitle::before {
        content: "＼";
        padding-right: 20px;
    }
    
    .QAtitle::after {
        content: "／";
        padding-left: 20px;
    }
    .QnAcontainer {
        width: 600px;
        height: 900px;
        margin: 50px auto;
    }

    .QnAbox1{
        margin: 20px 0;
    }
    .QnAbox2{
        margin: 20px 0;
    }
    .QnAbox3{
        margin: 20px 0;
    }
    .QnAcontainer h1 {
        color:$color-main;
        font-size: 26px;
        font-weight: 500;
    }
    
    .QnAcontainer p {
        font-size: 12px;
        font-weight: 400;
        color: #555555;
        line-height: 21px;
    }
    
    .QnAcontainer li {
        font-size: 12px;
        font-weight: 400;
        color: #555555;
        line-height: 21px;
        margin: 0 0 0 20px;
    }
    
    .QnAcontainer summary {
        color: #555555;
        font-weight: 500;
        margin: 10px 0;
    }

    /* 登入表單 */
#login{
    margin: 150px auto;
    width: 1280px;
    height: 900px;
    display: grid;
    grid-template-columns:50% 50%;
  }
  
  .login-box{
    height: 400px;
  }
  
  .sginup{
    color: #1d4872;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
  }
  
  .join{
    color: #1d4872;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
  }
  
  form {
    background-color:#fff;
    width: 450px;
    height: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1.3px solid #1d4772b6;
    border-radius: 15px;
  }
  
  #email,#password,#email02,#password02{
    width: 100%;
    background-color:#fff;
    margin: 15px 0;
    height: 30px;
    border: 1px solid #1d4872;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 5px;
    }
  
  fieldset {
    border: 2px solid#1d4872;
    margin: 10px 0;
  }
  
  .btn{
    background-color:#1d4872;
    margin: 10px auto;
    padding: 10px 30px;
    border: 1px solid #1d4872;
    border-radius: 5px;
    color:#fff;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    }
  /* 預留文字 */
  ::placeholder{
    color:#ccc
  }

/* footer */
#footer{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 0 30px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    bottom: 0;
    display: block;
    background-color:#e0dfdf;

}

.inner{
    width: 100%;
    margin: 30px 50px;
    padding: 0px 200px;
    display: grid;
    grid-template-columns:auto auto auto auto auto;
  
}

.h5 {    
    padding: 2px;
    width: 150px;
    text-align: left;
    font-size: 0.9em;
    color:#1d4872;
    font-weight: 900;
} 

.content {
    padding:2px;
    width: 250px; 
    font-size: 0.8em;
    list-style-type: none;
}

.content li {
    padding: 5px;
    width: 90px;
    text-align: left;
}


.content li img {
    padding: 5px;
    width: 40px;
    text-align:left;
}

.content li a{
    padding: 15px 0px;
    width: 90px;
    font-weight: 400;
    color:#1d4872;
    text-decoration: none;
 }

 .content li a:hover{
    opacity: 0.65;
 }


 .content div{
    padding: 15px 0px;
    width: 90px;
    font-weight: 400;
    color:#1d4872;
    text-decoration: none;
 }
 .content img{
    width: 80px;
 }
#copyright {
    width: 100%;
    height: 30px;
    font-size: 0.5em;
    text-align: center;
    padding:0px;
    color:#7f8d99;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 15px;
    display: block;
    bottom: 0;
}
// product-box
.showbox {
	width: 900px;
	height: 100vh;
	border: 2px solid #1dd;
	vertical-align: middle;
}

#show-image{
    width: 550px;
    height: 550px;
}

.abgne-block-20120106 {
	margin-top: 10px;
	width: 550px;
	overflow: hidden;
}
.abgne-block-20120106 a {
	margin-right: 10px;
}
.abgne-block-20120106 a img {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}



//RWD
/* 當螢幕寬度小於等於 1023 像素 - 平板 */
@media screen and (max-width: 1023px) {
    #footer{
        width: 100%;
    }

    .inner {
        grid-template-columns:auto auto auto auto auto;   
        width: 100%;
        height: 100%;
        
        
        h5{
            width: 100%;
        }

        content{
            width: 100%;
        }
    }
}
/* 當螢幕寬度小於等於 767 像素 - 手機 */
@media screen and (max-width: 767px) {
    .buy-left {
        padding-right: 15px !important;
    }
    .buy-right {
        padding-left: 15px !important;
        
        div {
            padding-bottom: 50px !important;
        }
    }
    .inner {
        grid-template-columns: 1fr;     
        width: 100%;
        height: 100%;
        padding: 30px 50px;
        
        
        h5{
            width: 100%;
        }

        content{
            width: 100%;
        }
    }
}
